/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Basic styles for navigation bar */
nav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  box-sizing: inherit;
  z-index: 1;
}

.navbarAbout {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  box-sizing: inherit;
  z-index: 1;
}

.navbarmember{
  background-color: #4479ff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.navbarwrite{
  background-color: rgb(242, 77, 46);
  border-bottom: 1px solid #000;
  color: #fff;
}



.nav-left img {
  max-width: 20%;
  margin-left: 40px;
  aspect-ratio: 1/1;
}

.nav-right a {
  color: #000;
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-right a:not(:last-child) {
    display: none;
  }

  .nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }

  .nav-toggle span {
    width: 100%;
    height: 2px;
    background-color: #222222;
    transition: all 0.3s ease-in-out;
  }

  .nav-toggle.active span:first-child {
    transform: rotate(45deg);
  }

  .nav-toggle.active span:last-child {
    transform: rotate(-45deg);
  }

  .nav-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .nav-right {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .nav-right a {
    margin: 1rem 0;
  }

  .nav-right a.btn-get-started {
    margin-top: 2rem;
  }

  .nav-right.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.rounded-button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
}

.container {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 50px 10px;
}

.container h1 {
  font-size: 106px;
  margin: 0;
  margin-left: 30px;
}

.container p {
  font-size: 24px;
  margin: 20px 0;
  margin-left: 30px;
}

.container button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 64px;
  }

  .container p {
    font-size: 16px;
  }
}
.containertwo {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
}

.trending-title {
  flex: 0 0 30%;
  font-size: 24px;
  font-weight: bold;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 70%;
  align-items: center;
}

.post {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.post-number {
  font-size: 18px;
  font-weight: bold;
}

.writer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.post-time {
  font-size: 14px;
  color: gray;
  margin: 2px 0;
}

.icon {
  font-size: 24px;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .trending-title {
    text-align: center;
  }

  .post-container {
    flex-direction: column;
  }

  .post {
    width: 100%;
    margin-bottom: 20px;
  }

  .post-number {
    display: none;
  }

  .icon {
    display: none;
  }
}

.containerthree {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.article-container {
  display: flex;
  align-items: center;
  width: 60%;
  vertical-align: middle;
}

.article-image {
  flex: 1;
  margin-left: 0px;
  margin-right: 100px;
  width: 200px;
  aspect-ratio: auto 200 / 134;
  height: 134px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.article-content {
  flex: 2;
  display: flex;
  flex-direction: row;
}

.article-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 14px;
}

.article-name {
  font-size: 24px;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.date {
  font-size: 0.8rem;
  color: gray;
}

.card-container {
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 999;
}

.card-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.see-more {
  text-align: left;
}

.see-more-link {
  color: green;
  font-weight: bold;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mobile-footer {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    display: none;
  }
}
.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  margin-right: 10px;
  font-size: 0.9rem;
}

.medium-app {
  font-size: 0.9rem;
  font-weight: bold;
}

.card {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
}

.card h5 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 30px;
}

.signin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.signin-btn {
  background-color: #ffffff;
  border: none;
  color: #000;
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 30px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: left;
}

.google {
  border: 2px solid #db4437;
  color: #db4437;
}

.google:hover {
  color: #fff;
  background-color: #db4437;
}

.facebook {
  border: 2px solid #3b5998;
  color: #3b5998;
}

.facebook:hover {
  color: #fff;
  background-color: #3b5998;
}

.apple {
  border: 2px solid #000;
  color: #000;
}

.apple:hover {
  color: #fff;
  background-color: #000;
}

.twitter {
  border: 2px solid #1da1f2;
  color: #1da1f2;
}

.twitter:hover {
  color: #fff;
  background-color: #1da1f2;
}

.email {
  border: 2px solid #a9a9a9;
  color: #a9a9a9;
}

.email:hover {
  color: #fff;
  background-color: #a9a9a9;
}

.create-btn {
  color: #00ff00;
  margin-top: 10px;
}

.small-text {
  font-size: 14px;
  color: #000;
  margin: 5px 0;
}

.whitecontainer {
  border-bottom: 1px solid black;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.whitecontainer p {
  font-size: 7.3vw;
  color: black;
  margin: 0;
}

@media (max-width: 768px) {
  .whitecontainer p {
    font-size: 5vw;
  }
}

.container_t {
  display: flex;
  border-bottom: 1px solid black;
}
.container_t .vertical {
  border-left: 1px solid black;
  margin-right: 10px;
}
.left-box {
  flex-grow: 1;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 60px;
}
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.left-box,
.right-box {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container_t {
    flex-direction: column;
  }
  .left-box,
  .right-box {
    border: none;
    padding: 0;
    font-size: 16px;
  }
  .right-box video {
    width: 100%;
  }
}

.pinkcontainer {
  background-color: #ffd1b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.title {
  font-size: 7.3vw;
  text-align: center;
  margin-bottom: 20px;
}

.para {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.container_b {
  display: flex;
  border-bottom: 1px solid white;
  background-color: black;
  color: #fff;
}

.container_b .vertical {
  border-left: 1px solid white;
  margin-right: 10px;
}

.left-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

.left-box .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.left-box,
.right-box {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container_b {
    flex-direction: column;
  }

  .left-box,
  .right-box {
    border: none;
    padding: 0;
    font-size: 16px;
  }

  .left-box .avatar {
    margin-right: 10px;
  }
}

.blackccontainer {
  background-color: black;
  color: white;
  padding: 66px 0px;
  position: relative;
  text-align: center;
}

.blackccontainer strong {
  font-size: 7.3vw;
  display: inline-block;
  margin: 0 auto;
}

.blackccontainer .para {
  font-size: 18px;
}

.blackccontainer .btn {
  display: block;
  margin: 20px auto;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid green;
  background-color: transparent;
  color: green;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blackccontainer .btn:hover {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 768px) {
  .blackccontainer {
    padding: 30px 0px;
  }

  .blackccontainer strong {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .blackccontainer {
    padding: 20px 0px;
  }

  .blackccontainer strong {
    font-size: 4vw;
  }
}


.greencontainer {
  background-color: #34a245;
  color: black;
  padding: 66px 0px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
}

.greencontainer strong {
  font-size: 7.3vw;
  display: inline-block;
  margin: 0 auto;
}

.greencontainer .para {
  font-size: 18px;
}

.btn {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .greencontainer {
    padding: 30px 0px;
  }

  .greencontainer strong {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .greencontainer {
    padding: 20px 0px;
  }

  .greencontainer strong {
    font-size: 4vw;
  }
}


.greencontainer_two {
  background-color: #34a245;
  color: black;
  padding: 66px 0px;
  position: relative;
  text-align: center;
}

.greencontainer_two strong {
  font-size: 7.3vw;
  display: inline-block;
  margin: 0 auto;
}

.greencontainer_two .para {
  font-size: 18px;
}

.btn {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .greencontainer_two {
    padding: 30px 0px;
  }

  .greencontainer_two strong {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .greencontainer_two {
    padding: 20px 0px;
  }

  .greencontainer_two strong {
    font-size: 4vw;
  }
}

.greencontainer_three {
  background-color: #34a245;
  color: black;
  position: relative;
  text-align: left;
  display: flex;
  border-bottom: 1px solid black;
}

.greencontainer_three .vertical {
  border-left: 1px solid black;
  margin-right: 10px;
}

.left-side {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 60px;
}
.right-side {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 60px;
}

.left-side,
.right-side {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .greencontainer_three {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
    border-bottom: none;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .left-side,
  .right-side {
    padding: 10px;
  }

  .greencontainer_three strong {
    font-size: 4vw;
  }
}

.lightgreencontainer {
  background-color: #b6e5a4;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}


.l_side h3 {
  margin-top: 0;
  text-align: left;
  font-size: 7.3vw;
}

.l_side p {
  font-size: 18px;
  margin: 10px 0;
}

.app-stores {
  display: flex;
  align-items: center;
}

.app-stores img {
  max-width: 20%;
  height: auto;
  margin: 0 10px;
}

.r_side img {
  display: inline-block;
  max-width: 100%;
}

@media (max-width: 768px) {
  .lightgreencontainer {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
  }

  .l_side h3 {
    font-size: 5vw;
    text-align: center;
  }

  .l_side p {
    font-size: 14px;
    text-align: center;
  }

  .app-stores {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .app-stores img {
    margin: 10px 0;
  }
}

.container_sl {
  display: flex;
  border-bottom: 1px solid #000;
  position: relative;
  box-sizing: border-box;
}

.container_sl .vertical {
  height: 100%;
  width: 1px;
  background-color: black;
  margin: 0 20px; 
}


@media only screen and (max-width: 767px) {
  .vertical {
    display: none; 
  }
}


.lft_side {
  font-size: 6.3vw;
  width: 50%;
}

.rt_side {
  justify-content: space-between;
  position: relative;
}

.rt_side::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  border-left: 1px solid black;
}

.upperbox,
.lowerbox {
  margin-bottom: 100px;
  margin-top: 100px;
  justify-items: center;
  padding-bottom: 100px;
  margin-left: 10px;
}

.upperbox h6,
.lowerbox h6 {
  font-size: 18px;
}

.upperbox{
  border-bottom: 1px solid #000;
}

.upperbox p,
.lowerbox p {
  font-size: 18px;
}

.button1 {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
}

.button1:hover {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 767px) {
  .container_sl {
    flex-direction: column;
  }
  
  .lft_side {
    font-size: 8vw;
    width: 100%;
    text-align: center;
  }
  
  .rt_side {
    margin-top: 20px;
    border-left: none; 
  }
  
  .upperbox,
  .lowerbox {
    padding: 10px;
  }
}

.container_t h6{
  font-size: 6.2vw;
}

.aboutfooter{
  text-align: center;
}

.aboutfooter h6{
  font-size:18px;
}

.aboutfooter a{
  font-size:12px;
}

.blue{
  background-color: #4479ff;
  border-bottom: 1px solid #fff;
  color:#fff;
}

.blue h6{
  font-size:40px;
  line-height: 105%;

}

.blue .vertical {
  border-left: 1px solid #fff;
  margin-right: 10px;
}

.whitebtn:hover{
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.whitebtn {
  background-color: #fff;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.whitemember h6{
  font-size: 36px;
}

.whitemember{
  border-bottom: 1px solid #000;
  padding: 66px 0px;
}

.whitemember p {
  font-size: 18px;
  padding : 0px 166px;
}

.blackbtn:hover{
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blackbtn {
  background-color: #000;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bluebox{
  border-bottom: 1px solid #000;
}